.ui.popup .editable-buttons .ui.button.icon {
	width: inherit;
}

.ui.popup.left.center {
	position: fixed;
	top: 40%;
	height: 60px;
	width: 60%;
}

.ui.popup.top.center {
	position: fixed;
	top: 40%;
	height: 60px;
	width: 60%;
}

.ui.popup.bottom.center {
	position: fixed;
	top: 40%;
	height: 60px;
	width: 60%;
}

.ui.popup.right.center {
	position: fixed;
	top: 40%;
	height: 60px;
	width: 60%;
}